<?xml version="1.0" encoding="UTF-8"?>
<iqser>
	<plugin>
		<id>com.iqser.plugin.web.html</id>
		<!-- Modify the type in your iqser configuration, if necessary -->
		<type>Web Page</type>
		<name>HTML Web Plugin</name>
		<vendor>IQser Technologies</vendor>
		<provider-class>
			com.iqser.demo.plugin.web.HTMLContentProvider
		</provider-class>
		<!-- Use a Cron formatted string to define the synchronisation schedule. -->
		<scheduler> 
			<syncjob>0 5 * * * ?</syncjob> 
			<housekeeperjob>0 0 23 * * ?</housekeeperjob> 
		</scheduler> 
		<init-param>
			<!-- default item is the html-node -->
			<param-name>item-node-filter</param-name>
			<param-value><!-- tagn-name,attribute-name,attribute-value,regex --></param-value>
		</init-param>
		<init-param>
			<!-- default attributes are title and meta-tags. Multiple filters are seperated by semicolon -->
			<param-name>attribute-node-filter</param-name>
			<param-value><!-- tagn-name,attribute-name,attribute-value,regex --></param-value>
		</init-param>
		<init-param>
			<param-name><!-- any node-text for optional mapping with a content-attribute-name --></param-name>
			<param-value><!-- any attribute name --></param-value>
		</init-param>
		<init-param>
			<!-- optional definition of key-attributes -->
			<param-name>key-attributes</param-name>
			<param-value><!-- any attributes in brackes like [name] --></param-value>
		</init-param>
		<init-param>
			<!-- optional definition of the charset -->
			<param-name>charset</param-name>
			<param-value><!-- any charset] --></param-value>
		</init-param>
	</plugin>
</iqser>